body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Jaldi", sans-serif !important;
  /* font-family: "Karla", sans-serif !important; */
  /* font-family: "Palanquin Dark", sans-serif !important; */
  /* font-family: "PT Sans", sans-serif !important; */
  /* font-family: "Yanone Kaffeesatz", sans-serif !important; */
}
.gradients {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.desktop-container,
.mobile-container,
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  color: black;
  background: white;
  width: 100vw;
  padding: 5vh 10vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-text {
  width: 100%;
  padding: 10%;
  font-size: 3em;
  text-align: left;
}
.scroll-down-element {
  position: absolute;
  left: 0;
  bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.scroll-down-element > button {
  color: black;
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.scroll-down-element > button:hover {
  animation: rotate 0.5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.scroll-down-element > button:focus {
  outline: 0;
  box-shadow: 0px 0px 2px 3px #f3904f;
}

#main-header {
  font-size: 3em;
}
.morning,
.evening,
.night {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.night {
  background: #f3904f;
  background: -webkit-linear-gradient(to top, #3b4371, #353954, #3b4371);
  background: linear-gradient(to top, #3b4371, #353954, #3b4371);
}
.morning {
  background: #f3904f;
  background: -webkit-linear-gradient(to bottom, #3b4371, #f3904f);
  background: linear-gradient(to bottom, #3b4371, #f3904f);
}
.evening {
  background: #f3904f;
  background: -webkit-linear-gradient(to top, #3b4371, #f3904f);
  background: linear-gradient(to top, #3b4371, #f3904f);
}
.morning > a > h4 {
  font-size: 1em;
  font-weight: 500;
}
.evening > a,
.night > a,
.morning > a {
  color: white;
  max-width: 80%;
  border: 3px solid white;
  padding: 30px 20px;
}
.evening > a:hover,
.night > a:hover,
.morning > a:hover {
  border: 6px solid white;
}

.evening > a:hover,
.night > a:hover,
.morning > a:hover {
  transform: scale(1.1, 1.1);
}

@keyframes blink {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}
.blinking-dash {
  color: black;
  line-height: 1em;
  margin-left: 3px;
  animation: blink 0.8s infinite;
}
.error-page-image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(50%);
}
.error-page-image > * {
  object-fit: cover;
  width: auto;
}
#error-page-header {
  font-size: 5em;
}
#error-page-text {
  font-size: 1.4em;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: black;
  height: 5vh;
  text-transform: uppercase;
}
.desktop-menu > a {
  color: white;
  margin: 20px;
}

#deepest-secrets-list {
  width: 100%;
  height: 100%;
  padding: 20px 15vw;
  text-align: left;
  background: white;
  color: black;
  margin-bottom: 0;
}
#deepest-secrets-list > li {
  padding: 10px;
  font-size: 1.2em;
  text-align: left;
  text-transform: none;
}

#deepest-secrets-show {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.typing-text {
  width: 100%;
  padding: 10%;
  font-size: 2em;
  text-align: left;
}

#projects-intro-text {
  height: calc(100vh - 100vw);
  background: white;
  color: black;
  width: 100%;
  padding: 5vh 3vw 0 3vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.project-header {
  color: white;
  text-align: center;
  padding: 20px;
}
.project-header-container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: #886161aa;
  width: 100%;
  height: 100%;
}
.project:hover > .project-header-container {
  background-color: #000000cc;
  display: flex;
}
.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.project-image:hover {
  transform: scale(1.5);
}
.projects-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.project {
  margin: 0;
  position: relative;
  width: 50vw;
  height: 50vw;
  overflow: hidden;
}
.contact-grid > * {
  text-align: right;
}
.contact-grid > div {
  margin: 60px 0px;
}
#social-columns {
  display: flex;
  justify-content: center;
}
#social-icons,
#social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#social-icons > i {
  margin: 10px;
}
#social-media > p {
  margin: 10px;
}
#contact-heading {
  padding-top: 0;
  margin-top: 1vh;
  padding-left: 40px;
}
#location-container > img {
  margin-right: -20px;
}
.brand-image-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10vh 5vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.links-container > div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-container {
  margin-top: 20vh;
  margin-bottom: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
}

.brand-image {
  width: calc(90vw / 3);
  height: auto;
}
.links-container > div > a {
  padding: 40px 80px;
  border: solid white 1px;
  color: white;
}

.links-container {
  background-color: transparent;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.links-container > div > a {
  padding: 20px 40px;
  max-width: 80vw;
  border: solid white 1px;
  color: white;
}

@media only screen and (min-width: 767px) {
  .mobile-menu-container {
    display: none;
  }
  .links-container > div > a {
    padding: 40px 80px;
  }
  .container-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .contact-grid > * {
    text-align: center;
  }
  .contact-grid > div {
    margin: 0;
  }

  #location-container > img {
    margin-right: 0;
  }
  .project {
    margin: 0;
    position: relative;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
  }
  #projects-intro-text {
    height: calc(100vh - 25vw);
    padding: 0 10vw;
    justify-content: center;
  }
  #projects-intro-text > h1 {
    font-size: 8em;
    margin: 0;
  }
  #projects-intro-text > p {
    font-size: 2.4em;
    margin: 0;
  }

  .brand-image-container {
    padding: 10vh 15vw;
  }
  .brand-image {
    margin: 5px;
    width: calc(calc(70vw - calc(5px * 2 * 5)) / 5);
    height: auto;
  }
  .desktop-menu {
    height: 10vh;
    display: flex;
  }
  .evening > a,
  .night > a,
  .morning > a {
    max-width: 70%;
    padding: 30px 60px;
  }
  #deepest-secrets-list {
    width: 100%;
    padding: 10vh 18vw;
    margin-bottom: 0px;
  }
  #deepest-secrets-list > li {
    padding: 20px;
    font-size: 2em;
  }
  .typing-text {
    font-size: 3em;
  }
  .contact-container {
    padding: 10vh 0 0 0;
    height: 100vh;
  }
  .contact-grid {
    max-width: 80vw;
    display: grid;
    grid-column-gap: 80px;
    grid-template-areas:
      "a a a a"
      ". b f ."
      ". d f ."
      ". e c .";
  }
  #location-container {
    grid-area: f;
  }
  #time-zone-container {
    grid-area: c;
  }
  #phone-container {
    grid-area: e;
  }
  #social-media-container {
    grid-area: b;
  }
  #mail-container {
    grid-area: d;
  }
  #contact-heading {
    grid-area: a;
    font-weight: 900;
    font-size: 3em;
    padding-left: 0px;
  }
}
